<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item">-------</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/syllabus/' %} active{% endif %}" href="/quant_methods/syllabus">Syllabus</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/lessons/' %} active{% endif %}" href="/quant_methods/lessons">Lessons</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/assignments/' %} active{% endif %}" href="/quant_methods/assignments">Assignments</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/data/' %} active{% endif %}" href="/quant_methods/data">Data</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/resources/' %} active{% endif %}" href="/quant_methods/resources">Resources</a>
      <a class="sidebar-nav-item">-------</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/about/' %} active{% endif %}" href="/quant_methods/about">About</a>
      <a class="sidebar-nav-item{% if page.url == '/quant_methods/LICENSE/' %} active{% endif %}" href="/quant_methods/LICENSE">License</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Fork My Course (GitHub)</a>
    </nav>

    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/quant_methods/public/cc-by-80x15.png" /></a></p>
  </div>
</div>
